.button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 100rpx;
}

/* 继续按钮设置 */
/* .continue-button {
	width: 50px;
	height: 50px;
	background-color: #8BC34A;
	border-radius: 25px;
	display: flex;
	justify-content: center;

	align-items: center;
	align-self: center;
} */

.continue-button {
		width: 40rpx;
		height: 40rpx;
		background-color: #8BC34A;
		border-radius: 50rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30rpx;
	}
	
/* .arrow {
	color: #242424;
	font-size: 20px;
} */

.container {
	display: flex;
	flex-direction: column;
	background-color: #1c1c1e;
	height: 100vh;
	overflow: hidden;
	touch-action: none;
}

.background-image {
	position: absolute;
	height: 100vh;
	z-index: 1;
}

.question {
	margin-top: 60px;
	font-size: 38rpx;
	color: #ffffff;
	margin-bottom: 10rpx;
	font-weight: bold;
	font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.question1 {
	font-size: 28rpx;
	color: #bcbcbc;
	font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}