.continue-button-container {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 80rpx;
	z-index: 3;
	/* 确保按钮层级高于其他元素 */
}


.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	/* 背景图片在最底层 */
}

.continue-btn {
	width: 80%;
	height: 44px;
	line-height: 44px;
	/* 调整这里的值来控制按钮距离底部的高度 */
	background-color: #90E0E7;
	border: none;
	border-radius: 25px;
	font-size: 15px;
	font-weight: 400;
	color: #000;
	padding: 10px, 23px;
	z-index: 3;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 46, 47, 0.75);
	z-index: 2;
	/* 叠加层在背景图片之上 */
}

.back-button {
	width: 24px;
	height: 24px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20rpx;
	position: relative;
	z-index: 3;
	margin-top: 80rpx;
	margin-left: 20rpx;
	/* 确保导航栏在叠加层之上 */
}

.back-button {
	width: 24px;
	height: 24px;
}

.progress-bar {
	flex: 1;
	width: 100%;
	height: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content {
	padding: 20px;
	text-align: center;
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200rpx;
	/* 确保页面内容在叠加层之上 */
}

.container {
	display: flex;
	flex-direction: column;
	background-image: url('/static/battlefield/background1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	touch-action: none;
}